
@{
    ViewBag.Title = "BiGout";
    Layout = "~/Views/Shared/HomeTemplate.cshtml";
}

<form style="margin-bottom:300px;margin-top:150px">
  <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 pa_right">
            <div class="testomonial_img">
                <figure><img src="~/Content/images/unnamed.jpg" alt="#" /></figure>
                <i><img src="~/Content/images/test_con.png" alt="#" /></i>
            </div>
        </div>

        <div class="col ">
            <div class="cross_inner">
                <h2>Kết luận<br><strong class="ornage_color">Bệnh nhân bị gout</strong></h2>

                <p>
                    Lời khuyên cho người bệnh gout
                </p>
                <p>
                    Hạn chế thực phẩm giàu purin
                </p>
                <p>
                    Tăng cường bổ sung trái cây tươi
                </p>
                <p>
                    Uống đủ nước, không uống rượu bia
                </p>
                <p>
                    Cần sự giúp đỡ của bác sĩ chuyên khoa cơ xương khớp
                </p>

           

            </div>

            <div class="box-footer">
                <a href="CSTT1" class="btn btn-primary" >Chuẩn đoán lại</a>
            </div>
        </div>
        <div class="col">
            <div class="images_box">
                <figure><img src="~/Content/images/kl_Gout.jpg" style="float: right;" id="bigout"></figure>
                <label for="bigout">Một số thực phẩm nên tránh</label><br />
            </div>
        </div>



    </div>


</form>

