
@{
    ViewBag.Title = "Giới thiệu bệnh Gout";
    Layout = "~/Views/Shared/HomeTemplate.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <div id="about" class="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="about-box">
                        <h2>Bệnh gout là gì?</h2>
                        <p>Bệnh Gout (thống phong) là bệnh rối loạn chuyển hóa liên quan đến ăn uống do nồng độ axit uric cao trong huyết tương dẫn đến lắng đọng các tinh thể urat(muối của axit uric) hoặc tinh thể axit uric</p>
                        <a href="~/HeChuyenGia/CSTT1">Chẩn đoán</a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 padding_rl">
                    <div class="about-box_img">
                        <figure><img src="~/Content/images/Gout.png" alt="#" /></figure>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="vegetable" class="vegetable">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2> Hệ <strong class="llow">chuyên gia</strong> </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 ">
                    <div class="vegetable_shop">
                        <h3>Hệ chuyên gia y tế chuẩn đoán bệnh Gout</h3>
                        <p>Chương trình hệ chuyên gia y tế chẩn đoán bệnh Gout được dựa trên tiêu chuẩn chẩn đoán bệnh Gout ACR/EULAR 2015</p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 ">
                    <div class="vegetable_img">
                        <figure><img src="~/Content/images/acr.jpg" alt="#" /></figure>
                        <span>01</span>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 ">
                    <div class="vegetable_img margin_top">
                        <figure><img src="~/Content/images/gout.jpg" alt="#" /></figure>
                        <span>02</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
