
@{
    ViewBag.Title = "KhongBiGout";
    Layout = "~/Views/Shared/HomeTemplate.cshtml";
}
<form style="margin-bottom:300px;margin-top:150px">
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 pa_right">
            <div class="testomonial_img">
                <figure><img src="~/Content/images/unnamed.jpg" alt="#" /></figure>
                <i><img src="~/Content/images/test_con.png" alt="#" /></i>
            </div>
        </div>

        <div class="col ">
            <div class="cross_inner">
                <h2>Kết luận<br><strong class="ornage_color">Bệnh nhân không bị gout</strong></h2>

                <p>
                    Lời khuyên phòng tránh bệnh gout
                </p>
                <p>
                    Chế độ dinh dưỡng hợp lý:

                </p>
                <p>+ Hạn chế thức ăn chứa nhiều purin.</p>
                <p>+ Tránh rượu bia, chất kích thích, uống đủ nước.</p>
                <p>+ Tăng cường bổ sung rau củ, hoa củ quả tươi,...</p>
                <p>
                    Duy trì cân nặng hợp lý
                </p>
                <p>
                    Tham gia các hoạt động thể thao phù hợp
                </p>

            </div>

            <div class="box-footer">
                <a href="CSTT1" class="btn btn-primary">Chuẩn đoán lại</a>
            </div>
        </div>
        <div class="col">
            <div class="images_box">
                <figure><img src="~/Content/images/thuc_pham_nen_dung.png" style="" id="khonggout"></figure>
                <label for="khonggout">Một số thực phẩm nên dùng phòng tránh gout</label><br />
            </div>
        </div>



    </div>


</form>


