
@{
    ViewBag.Title = "NguyCoCao";
    Layout = "~/Views/Shared/HomeTemplate.cshtml";
}

<form style="margin-bottom:300px;margin-top:150px">
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 pa_right">
            <div class="testomonial_img">
                <figure><img src="~/Content/images/unnamed.jpg" alt="#" /></figure>
                <i><img src="~/Content/images/test_con.png" alt="#" /></i>
            </div>
        </div>

        <div class="col ">
            <div class="cross_inner">
                <h2>Kết luận<br><strong class="ornage_color">Bệnh nhân có nguy cơ cao bị gout</strong></h2>

                <p>
                    Lời khuyên cho người có nguy cơ cao bị gout
                </p>
                <p>
                    Đảm bảo chế độ ăn uống:


                </p>
                <p>+ Hạn chế thực phẩm nhiều đạm, giàu purin.</p>
                <p>+ Uống đủ nước, hạn chế uống rượu bia.</p>
                <p>
                    Thói quen sinh hoạt lành mạnh:


                </p>
                <p>+ Tránh thức khuya, stress. </p>
                <p>+ Hạn chế sử dụng chất kích thích như: cafe,...</p>
                <p>
                    Vận động phù hợp: Vận động ít nhất 30 phút bằng cách chơi thể thao, yoga,...
                </p>



            </div>

            <div class="box-footer">
                <a href="CSTT1" class="btn btn-primary">Chuẩn đoán lại</a>
            </div>
        </div>
        <div class="col">
            <div class="images_box">
                <figure><img src="~/Content/images/thuc_pham_nen_tranh.png" style="float: right;" id="bigout"></figure>
                <label for="bigout">Một số thực phẩm nên tránh</label><br />
            </div>
        </div>



    </div>


</form>

