@{
    ViewBag.Title = "About";
}
@{
    Layout = "~/Views/Shared/HomeTemplate.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    
    <div class="slider_section">
        <div id="about" class="about">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="about-box">
                            <h2>Giới thiệu</h2>
                            <p>Hệ thống Hỗ trợ, tư vấn khám, chữa bệnh từ xa là giải pháp ứng dụng CNTT và viễn thông cho phép các cán bộ y tế có thể tra cứu lịch sử khám bệnh, hình ảnh phim chụp và các kết quả xét nghiệm, từ đó đánh giá, chẩn đoán và điều trị cho bệnh nhân ở các cơ sở y tế tuyến dưới.Shree đáp ứng đầy đủ 6 lĩnh vực mà Bộ Y tế, bao gồm 3 nhóm ứng dụng:Nhóm theo dõi từ xa giúp các bác sỹ có thể phát hiện và đưa giải pháp can thiệp ngay khi người bệnh có những triệu chứng đầu tiên.Nhóm tương tác thời gian thực giúp người bệnh có thể trao đổi, tương tác trực tiếp với bác sĩ và nhận được chỉ dẫn y khoa bất cứ lúc nào, từ bất cứ đâu.Nhóm lưu trữ và chẩn đoán hình ảnh giúp giảm thời gian và chi phí cho người bệnh phải đến gặp trực tiếp các bác sĩ chuyên khoa.Hiện nay, hệ thống đã được triển khai tại hơn 1.000 cơ sở y tế trên cả nước, kết nối hơn 27 bệnh viện tuyến trên.</p>
                            <a href="About">Đọc thêm</a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 padding_rl">
                        <div class="about-box_img">
                            <figure><img src="~/Content/images/qqq.png" alt="#" /></figure>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
   
    </body>
</html>

