
@{
    ViewBag.Title = "Liên hệ";
}

@{ 
    Layout = "~/Views/Shared/HomeTemplate.cshtml";
}
<div id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Contact <strong class="llow">us</strong></h2>
                </div>
            </div>

        </div>
        <div class="white_color">
            <div class="row">

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <form class="contact_bg">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="col-md-12">
                                    <input class="contactus" placeholder="Your Name" type="text" name="Your Name">
                                </div>
                                <div class="col-md-12">
                                    <input class="contactus" placeholder="Email" type="text" name="Email">
                                </div>
                                <div class="col-md-12">
                                    <input class="contactus" placeholder="Phone Number" type="text" name="Phone Number">
                                </div>
                                <div class="col-md-12">
                                    <textarea class="textarea" placeholder="Message" type="text" name="Message"></textarea>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <button class="send">Send</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <form class="contact_bg" action="Add" method="post" role="form">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="col-md-12">
                                    <input class="contactus" placeholder="Họ tên" type="text" name="TenKH">
                                </div>
                                <div class="col-md-12">
                                    <input class="contactus" placeholder="Giới tính" type="text" name="GioiTinh">
                                </div>
                                <div class="col-md-12">
                                    <input class="contactus" placeholder="Ngày sinh" type="text" name="NgaySinh">
                                </div>
                                <div class="col-md-12">
                                    <input class="textarea" placeholder="Địa chỉ" type="text" name="DiaChi">
                                </div>
                                <div class="col-md-12">
                                    <input class="textarea" placeholder="Thư điện tử" type="text" name="ThuDienTu">
                                </div>
                                <div class="col-md-12">
                                    <input class="textarea" placeholder="Số điện thoại" type="text" name="SoDienThoai">
                                </div>
                                <div class="col-md-12">
                                    <input class="textarea" placeholder="Khoa khám" type="text" name="KhoaKham">
                                </div>
                                <div class="col-md-12">
                                    <input class="textarea" placeholder="Giờ hẹn" type="text" name="GioHen">
                                </div>
                                <div class="col-md-12">
                                    <input class="textarea" placeholder="Ngày hẹn" type="text" name="NgayHen">
                                </div>
                                <div class="col-md-12">
                                    <input class="textarea" placeholder="Ghi chú" type="text" name="GhiChu">
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <input type="submit" class="send" value="Send" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div id="map">
                </div>
            </div>
        </div>
    </div>

</div>

