@{
    ViewBag.Title = "Home";

}
@{
    Layout = "~/Views/Shared/HomeTemplate.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <div>
        <section class="slider_section">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">

                        <div class="container-fluid padding_dd">
                            <div class="carousel-caption">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <div class="text-bg">
                                            <span>Welcome To Shree</span>
                                            <h1>Hệ thống hỗ trợ y tế</h1>
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal </p>
                                            <form class="Vegetable">
                                                <input class="Vegetable_fom" placeholder="Vegetable" type="text" name=" Vegetable">
                                                <button class="Search_btn">Tìm kiếm</button>
                                            </form>
                                            <a href="#">Liên hệ</a> <a href="#">Quầy thuốc</a>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <div class="images_box">
                                            <figure><img src="~/Content/images/img2.png"></figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">

                        <div class="container-fluid padding_dd">
                            <div class="carousel-caption">

                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <div class="text-bg">
                                            <span>Welcome To Shree</span>
                                            <h1>Hệ thống hỗ trợ y tế</h1>
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal </p>
                                            <form class="Vegetable">
                                                <input class="Vegetable_fom" placeholder="Vegetable" type="text" name=" Vegetable">
                                                <button class="Search_btn">Search</button>
                                            </form>
                                            <a href="#">Liên hệ</a> <a href="#">Quầy thuốc</a>
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <div class="images_box">
                                            <figure><img src="~/Content/images/img2.png"></figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="carousel-item">

                        <div class="container-fluid padding_dd">
                            <div class="carousel-caption ">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <div class="text-bg">
                                            <span>Welcome To Shree</span>
                                            <h1>Hệ thống hỗ trợ y tế</h1>
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal </p>
                                            <form class="Vegetable">
                                                <input class="Vegetable_fom" placeholder="Vegetable" type="text" name=" Vegetable">
                                                <button class="Search_btn">Tìm kiếm</button>
                                            </form>
                                            <a href="#">Liên hệ</a> <a href="#">Quầy thuốc</a>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <div class="images_box">
                                            <figure><img src="~/Content/images/img2.png"></figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Trước</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Tiếp</span>
    </a>
    

   



    <!-- about  -->
    <div id="about" class="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="about-box">
                        <h2>Giới thiệu</h2>
                        <p>1+1=282</p>
                        <a href="Javascript:void(0)">Đọc thêm</a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 padding_rl">
                    <div class="about-box_img">
                        <figure><img src="~/Content/images/about.jpg" alt="#" /></figure>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- end abouts -->
    <!--Tin tức-->
    <div id="infor" class="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="about-box">
                        <h2>Tin tức</h2>
                        <p>1+1=282</p>
                        <a href="Javascript:void(0)">Đọc thêm</a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 padding_rl">
                    <div class="about-box_img">
                        <figure><img src="~/Content/images/about.jpg" alt="#" /></figure>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- vegetable -->
    <div id="vegetable" class="vegetable">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2> Fresh <strong class="llow">vegetable</strong> </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 ">
                    <div class="vegetable_shop">
                        <h3>Best Vegetables Shop</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages andIt is a long established fact that a reader will be distracted </p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 ">
                    <div class="vegetable_img">
                        <figure><img src="~/Content/images/v1.jpg" alt="#" /></figure>
                        <span>01</span>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 ">
                    <div class="vegetable_img margin_top">
                        <figure><img src="~/Content/images/v2.jpg" alt="#" /></figure>
                        <span>02</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end vegetable -->
    <!-- clients -->
    <div id="testimonial" class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>sfas</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clients_red">
        <div class="container">
            <div id="testimonial_slider" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#testimonial_slider" data-slide-to="0" class=""></li>
                    <li data-target="#testimonial_slider" data-slide-to="1" class="active"></li>
                    <li data-target="#testimonial_slider" data-slide-to="2" class=""></li>
                </ul>
                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <div class="testomonial_section">

                            <div class="full testimonial_cont">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 pa_right">
                                        <div class="testomonial_img">
                                            <figure><img src="~/Content/images/tes.jpg" alt="#" /></figure>
                                            <i><img src="~/Content/images/test_con.png" alt="#" /></i>
                                        </div>
                                    </div>
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 pa_left">
                                        <div class="cross_inner">
                                            <h3>Jomono<br><strong class="ornage_color">review</strong></h3>
                                            <p>
                                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and

                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item active">

                        <div class="testomonial_section">
                            <div class="full center">
                            </div>
                            <div class="full testimonial_cont ">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 pa_right">
                                        <div class="testomonial_img">
                                            <figure><img src="~/Content/images/tes.jpg" alt="#" /></figure>
                                            <i><img src="~/Content/images/test_con.png" alt="#" /></i>
                                        </div>
                                    </div>
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 pa_left">
                                        <div class="cross_inner">
                                            <h3>Jomono<br><strong class="ornage_color">review</strong></h3>
                                            <p>
                                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and

                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="carousel-item">

                        <div id="testomonial" class="testomonial_section">
                            <div class="full center">
                            </div>
                            <div class="full testimonial_cont ">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 pa_right">
                                        <div class="testomonial_img">
                                            <figure><img src="~/Content/images/tes.jpg" alt="#" /></figure>
                                            <i><img src="~/Content/images/test_con.png" alt="#" /></i>
                                        </div>
                                    </div>
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 pa_left">
                                        <div class="cross_inner">
                                            <h3>Jomono<br><strong class="ornage_color">review</strong></h3>
                                            <p>
                                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and

                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>



   

</body>
</html>
